Merhaba, 
I****'a dogum gununde gostermek amaciyla butun arkadaslarindan fotograflar iceren bir web sayfasi yapiyorum. Sayfa, arkadaslarinin profil fotografi, arkadaslarindan birer dogum gunu mesaji ve arkadaslarinin yukledigi fotograflari icericek. 
<br>
<br>
Bu sayfa ise I****'in gorecegi sayfadaki verilerin yuklenmesi icin bir arka kapi. 
Bu sayfadan, I****'in sizi taniyacagi bir profil fotografi, bir dogum gunu mesaji ve beraber oldugunuz fotograflar yukleyebilirsiniz
<br>
<br>
DIKKAT! Fotograf ekleme sureci uzun surmektedir. Her fotografin yuklenmesi yaklasik 10 sn surebilir. 
<br>
<br>